<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <title>Site Pulse</title>
  <link rel="stylesheet" href="/css/style.css" />
  <!-- Font Awesome -->
<!-- <link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
  integrity="sha512-papL+S3Djk0gx8UuT8FvW06Z1FrV3rQIBcRrF1HfCjvX3Ecdv+QZ9hYy8DgzNHK1T1x6H6L7Hj4uzm4jF+v5fA=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"/> -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.0/css/all.min.css" integrity="sha512-DxV+EoADOkOygM4IR9yXP8Sb2qwgidEmeqAEmDKIOfPRQZOWbXCzLC6vjbZyy0vPisbH2SyW27+ddLVCN+OMzQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
