<header class="site-header">
  <div class="container">
    <h1 class="logo"><a href="/"><i class="fa-solid fa-house-medical"></i> Site Pulse</a></h1>
    <p class="tagline"> <i class="fa-solid fa-lock"></i> Security  &nbsp;&nbsp;&nbsp;<i class="fa-solid fa-chart-area"></i> Performance  &nbsp;&nbsp;&nbsp;<i class="fa-solid fa-magnifying-glass-dollar"></i> SEO  &nbsp;&nbsp;&nbsp;<i class="fa-brands fa-accessible-icon"></i> Accessibility</p>
  </div>
</header>
